@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#09090b] text-zinc-100;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
